
<h1 class="modal-header font-italic">Kies de correct afbeelding van vis</h1>
 <button type="submit"class="btn btn-success alert-heading"@onclick=@StartGame>Start Game </button>




@code {

    [Parameter]
    public EventCallback StartGame { get; set; }

}
