@page "/"
<div class="container">

<h1 class="modal-header">Algemeen Informatie over vis</h1>

<div class="font-italic">
Vissen zijn in water levende, gewervelde dieren die zich voortbewegen met behulp van vinnen en ademhalen door middel van onder meer kieuwen. De meeste vissen hebben een gestrekt, spoelvormig lichaam met vinvormige ledematen en een afgeplatte staart. Vissen kennen een rijke evolutionaire geschiedenis die teruggaat tot het Cambrium, en de diversiteit aan lichaamsvormen en levenswijzen is enorm. Bijna alle soorten behoren tot de klasse der straalvinnigen (Actinopterygii).

Vissen komen algemeen voor in zowel zout als zoet water. Ze zijn te vinden in bijna alle aquatische omgevingen, van hoge bergbeken tot de diepste onderzeese troggen. Vissen planten zich voort door te paaien, en sommige soorten leggen hier grote voor afstanden af. Veel soorten kunnen met elkaar communiceren door middel van akoestische of visuele signalen. Wereldwijd zijn ruim 34.000 soorten vissen beschreven, waarmee het de meest soortenrijke groep is binnen de gewervelden. De grootste biodiversiteit treft men aan in tropische kustwateren.

Vis is voor de mens een belangrijke bron van voedsel, en wordt daarom op grote schaal commercieel gevangen (visserij). Jacht op vissen gebeurt ook op recreatieve basis, sportvisserij. Vissen worden daarnaast als huisdier gehouden en tentoongesteld in openbare aquaria. De vis speelt een belangrijke rol in verschillende culturen, religieuze symbolen, kunst en literatuur.

Traditioneel werden vissen (Pisces) als een aparte diergroep geclassificeerd. Volgens de moderne cladistiek vormen de vissen samen met de viervoeters – waaronder ook de amfibieën, reptielen en zoogdieren vallen – een natuurlijke groep, de Osteichthyes. Alle op land levende gewervelde dieren zijn ontstaan uit kwastvinnige voorouders. Moderne groepen vissen die nauw verwant zijn aan landdieren zijn bijvoorbeeld de longvissen en coelacanten. Tiktaalik wordt gezien als een belangrijke fossiele overgangsvorm.
</div>

</div>