
@model ProductsShowProductsViewModel

@{
    ViewData["Title"] = "ShowProducts";
}
<p class="active">
    <a asp-action="Create" asp-controller="Products" class="btn btn-outline-primary">Add new Product</a>
</p>
<h2>@ViewBag.Title</h2>

<partial name="_ProductCardPartial" model="@Model.Products" />
<br />

<p class="mt-2">
    <a asp-action="index" asp-controller="Home" class="btn btn-outline-primary">&#9204;Back</a>
</p>

